.container{
    max-width: 1489px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    padding-left: 16px;
    padding-right: 16px;
    margin-right: -16px;
    margin-left: -16px;
}
.col-1 , .col-2 , .col-3 , .col-4 , .col-5 , 
.col-6 , .col-7 , .col-8 , .col-9 , .col-10 , 
.col-11 , .col-12 , .col-m-12 ,.col-m-6{
    padding-left: 16px; 
    padding-right: 16px;
}

/*-------Column widths based on 12-column grid---------*/
.col-1 { 
    width: 8.333333333%;
 }   /* 100% / 12 * 1 */
.col-2 { 
    width: 16.666666667%; /* <<100% / 12 * 2>> */
 }  
.col-3 { 
    width: 25%; /* <<100% / 12 * 3>> */
}            
.col-4 {
     width: 33.333333333%; /* <<100% / 12 * 4 >>*/
    }  
.col-5 { 
    width: 41.666666667%; /* <<100% / 12 * 5 >>*/
 }  
.col-6 {
     width: 50%; /* <<100% / 12 * 6>> */
    }            
.col-7 {
     width: 58.333333333%; /*<< 100% / 12 * 7 >>*/
    }  
.col-8 { 
    width: 66.666666667%; /*<< 100% / 12 * 8 >>*/
}  
.col-9 { 
    width: 75%; /* <<100% / 12 * 9 >>*/
}            
.col-10 { 
    width: 83.333333333%; /*<< 100% / 12 * 10 >>*/
 } 
.col-11 { 
    width: 91.666666667%; /* <<100% / 12 * 11 >>*/
} 
.col-12 { 
    width: 100%;  /* <<100% / 12 * 12>> */
}     